<div class="comments">
    <h2>Comments</h2>
    <%= for comment <- @post.comments do %>
        <%= render BlogEngine.CommentView, "comment.html", comment: comment, author_or_admin: @conn.assigns[:author_or_admin], conn: @conn, post: @post %>
    <% end %>
</div>
